@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.b_h{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
}
.p_discription{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
.p_discription_w{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.center{
    text-align: center;
}
/* button */
.b_prymary{
text-decoration: none;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
border-radius: 8px;
background: rgb(13, 19, 33);
padding: 21px 24px 21px 24px;
}
.b_prymary:hover{
    color: rgb(13, 19, 33);
    background-color:transparent;
    transition: all 1s ease-out;
    border: 2px solid;
}
.w_d_b{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    text-decoration: none;
    padding: 12px 20px 12px 20px;
}
.c_t_b{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 2px solid;
    text-decoration: none;
}

/* end button section */
.h2_32{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}
.h2_32_w{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
}
.h3_24{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}
.h3_24_800{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}


.m_t_20{
    margin-top: 20px;
}
.m_b_30{
    margin-bottom: 30px;
}





/* header banar */
.banar{
    width: 1440px;
    height: 652px;
    margin: 60px auto 0;
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.banar_box{
    width: 998px;
    height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.developer_box{
    width: 946px;
    height: 1235px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.developer_text{
    width: 852px;
    height: 115px;
    text-align: center;
}
.developer_content{
    width: 100%;
    height: 1072px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 30px;

}
.developer_content>div{
    width: 946px;
    height: 336px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    padding: 10px 30px;
}
.developer_content_box1{
    background-color: rgb(255, 222, 178);
}
.developer_content_box2{
    background-color: #c3e3ff;
}
.developer_content_box3{
    background-color: rgb(255, 222, 178);
}

/* My inspiration */
.inspiration{
    margin: 70px auto 0;
    width: 1140px;
    height: 777px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.inspiration_text{
    width: 852px;
    height: 115px;
    margin: auto;
}
.inspiration_video{
    width: 1138px;
    height: 612px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inspiration_video>iframe{
    border-radius: 16px;
    border: 1px solid rgb(255, 0, 255);
    box-shadow: 0px 0px 10px rgb(174, 44, 255);
    outline: red solid 1px;
    outline-offset: 1px;
}
/* my current target */
.current{
    margin: 70px auto 0;
    width: 1140px;
    height: 463px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.current_text{
    width: 852px;
    height: 115px;
}
.current_content{
    width: 1140px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.current_content>div{
    width: 364px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.current_content>div>img{
    width: 56px;
    height: 56px;
}

.current_item1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.current_item2{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.current_item3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
/* my next target */
.next{
    width: 1140px;
    height: 871px;
    margin: 70px auto 0;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.next_text{
    width: 946px;
    height: 115px;
    margin: auto;
}
.next_content{
    width: 1140px;
    height: 708px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.next_content>div{
    width: 1100px;
    height: 200px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.next_item1{
    border-radius: 16px;
    background-image: linear-gradient(to right,rgb(194, 164, 205),rgba(194, 164, 205, 0));
}
.next_item2{
    border-radius: 16px;
    background-image: linear-gradient(to left,rgb(194, 164, 205),rgba(194, 164, 205, 0));
}
.next_item3{
    border-radius: 16px;
    background-image: linear-gradient(to right,rgb(194, 164, 205),rgba(194, 164, 205, 0));
}
.next_content>div>div{
    width: 941.22px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* support */
.support{
    margin: 70px auto 0;
    width: 1140px;
    height: 314px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.6)),url('../assets/handshake.jpg');
    border-radius: 16px;
    background-size: cover;
    background-position: center;
}
.support_box{
    width: 1044px;
    height: 186px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.support_form{
    width: 100%;
    margin: auto;
    text-align: center;
}
.support_form>form{
    width: 100%;
    height: 58px;
    margin: auto;
}
.comment{
    width: 548px;
    padding: 19px 20px 19px 20px;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    font-size: 20px;
    font-weight: 500;
}
.submit{
    margin-left: 20px;
    width: 120px;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

